/* line 14, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 2em;
}

/* line 18, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 8, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 15, ../sass/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 21, ../sass/partials/_page.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 22, ../sass/partials/_page.scss */
a:hover {
  color: #003366;
}

/* line 24, ../sass/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 28, ../sass/partials/_page.scss */
small {
  font-size: 85%;
}

/* line 37, ../sass/partials/_page.scss */
input:invalid, textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px 0 red;
  -webkit-box-shadow: 0 0 5px 0 red;
  -o-box-shadow: 0 0 5px 0 red;
  box-shadow: 0 0 5px 0 red;
}

/* line 42, ../sass/partials/_page.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../.gem/ruby/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 30, ../sass/screen.scss */
html {
  background: white;
  color: black;
}
/* line 34, ../sass/screen.scss */
html h1, html h2 {
  font-family: 'Contrail One', cursive;
}
/* line 35, ../sass/screen.scss */
html h1 {
  font-size: 22px;
}
/* line 36, ../sass/screen.scss */
html h2 {
  font-size: 18px;
}
/* line 37, ../sass/screen.scss */
html a, html a:visited {
  text-decoration: none;
  color: #000;
}
/* line 38, ../sass/screen.scss */
html a:hover {
  color: #06e;
}
/* line 39, ../sass/screen.scss */
html a:focus {
  outline: thin dotted;
}
/* line 40, ../sass/screen.scss */
html a:hover, html a:active {
  outline: 0;
}
/* line 42, ../sass/screen.scss */
html body {
  width: 1130px;
  margin: 0 auto;
  font-family: Arial;
  font-size: 12px;
}
/* line 48, ../sass/screen.scss */
html body .left {
  width: 250px;
  float: left;
  overflow: auto;
  position: fixed;
  height: 100%;
}
/* line 56, ../sass/screen.scss */
html body .left #logo {
  color: white;
  width: 100px;
  padding: 50px 14px;
  border-radius: 100px;
  margin: 30px 0 40px 0;
  cursor: pointer;
  background: black;
}
/* line 65, ../sass/screen.scss */
html body .left #logo a {
  color: white;
}
/* line 68, ../sass/screen.scss */
html body .left .links {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
/* line 73, ../sass/screen.scss */
html body .left .links h1 {
  margin: 7px 0;
  font-size: 16px;
}
/* line 77, ../sass/screen.scss */
html body .left .links h1 .edit {
  display: none;
}
/* line 78, ../sass/screen.scss */
html body .left .links h1 .remove {
  display: none;
}
/* line 87, ../sass/screen.scss */
html body .left .links a {
  display: inline;
}
/* line 90, ../sass/screen.scss */
html body .left .admins {
  float: left;
}
/* line 92, ../sass/screen.scss */
html body .left .admins #login_form {
  display: none;
}
/* line 96, ../sass/screen.scss */
html body .left .admins #login_link, html body .left .admins #logout_link {
  cursor: pointer;
  padding-right: 10px;
  font-size: 11px;
}
/* line 103, ../sass/screen.scss */
html body .left .admins#authed #login_form {
  display: none;
}
/* line 108, ../sass/screen.scss */
html body .right_container {
  width: 870px;
  float: left;
  overflow: hidden;
  margin-left: 250px;
  display: block;
  padding-top: 25px;
}
/* line 117, ../sass/screen.scss */
html body .right_container .right_mask {
  width: 100%;
  float: left;
  overflow: hidden;
  display: block;
  background: white;
}
/* line 125, ../sass/screen.scss */
html body .right_container .right {
  width: 870px;
  float: left;
  overflow: hidden;
  display: block;
  margin-top: 20px;
}
/* line 133, ../sass/screen.scss */
html body .right_container .right .success {
  margin: 20px 0;
  border-radius: 5px;
  background: #A9E39A;
  padding: 10px;
  cursor: pointer;
  font-weight: normal;
}
/* line 142, ../sass/screen.scss */
html body .right_container .right .notice {
  font-size: 11px;
  margin: 20px 0;
  border-radius: 5px;
  background: #FFF9CF;
  padding: 10px;
  cursor: pointer;
  font-weight: normal;
}
/* line 152, ../sass/screen.scss */
html body .right_container .right .notice .shortcuts {
  float: right;
}
/* line 155, ../sass/screen.scss */
html body .right_container .right .notice .shortcuts a {
  font-weight: bold;
}
/* line 159, ../sass/screen.scss */
html body .right_container .right .notice .shortcuts .dismiss {
  margin-left: 15px;
}
/* line 165, ../sass/screen.scss */
html body .right_container .right #submit_form {
  display: block;
  margin: 20px 0;
}
/* line 170, ../sass/screen.scss */
html body .right_container .right .videos_area {
  overflow: hidden;
  min-height: 750px;
  margin-bottom: 15px;
}
/* line 176, ../sass/screen.scss */
html body .right_container .right .videos_area .video {
  width: 250px;
  height: 240px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin: 0 10px 30px 10px;
}
/* line 186, ../sass/screen.scss */
html body .right_container .right .videos_area .video h3 {
  font-size: 16px;
  padding-bottom: 10px;
  height: 40px;
}
/* line 192, ../sass/screen.scss */
html body .right_container .right .videos_area .video img {
  height: 187px;
  width: 250px;
}
/* line 197, ../sass/screen.scss */
html body .right_container .right .videos_area .video .playbtn {
  display: none;
}
/* line 202, ../sass/screen.scss */
html body .right_container .right .videos_area .video .closebtn {
  display: none;
}
/* line 207, ../sass/screen.scss */
html body .right_container .right .videos_area .video:hover {
  background: #F1F1F1;
  -webkit-box-shadow: 0px 1px 0px 0px #CCCCCC;
  -moz-box-shadow: 0px 1px 0px 0px #CCCCCC;
  box-shadow: 0px 1px 0px 0px #CCCCCC;
}
/* line 213, ../sass/screen.scss */
html body .right_container .right .videos_area .video:hover .playbtn {
  display: block;
}
/* line 217, ../sass/screen.scss */
html body .right_container .right .videos_area .video:hover .closebtn {
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 5px;
  background: grey;
  float: right;
  margin-bottom: 5px;
  color: white;
  border-radius: 3px;
  text-shadow: 0px 1px 0px black;
  position: relative;
  top: -182px;
  left: -8px;
  display: block;
}
/* line 234, ../sass/screen.scss */
html body .right_container .right .videos_area .video:hover .closebtn:active {
  color: black;
}
/* line 241, ../sass/screen.scss */
html body .right_container .right .pagination {
  width: 100%;
  text-align: center;
  display: block;
  margin: 20px 0;
}
/* line 247, ../sass/screen.scss */
html body .right_container .right .pagination a {
  font-size: 24px;
  font-family: 'Contrail One', cursive;
  margin: 0 5px;
}
/* line 253, ../sass/screen.scss */
html body .right_container .right .pagination .active {
  color: #06E;
}
/* line 258, ../sass/screen.scss */
html body .playlist {
  position: fixed;
  width: 100%;
  height: 110px;
  padding: 10px 0;
  background: white;
  bottom: -140px;
  left: 0;
  color: black;
  border: 1px solid #CCC;
  border-width: 1px 0;
  background: #F6F6F6;
}
/* line 271, ../sass/screen.scss */
html body .playlist .player_loading {
  background: #F6F6F6;
  width: 200px;
  height: 100px;
  position: absolute;
  text-align: center;
}
/* line 278, ../sass/screen.scss */
html body .playlist .player_loading img {
  margin-top: 35px;
}
/* line 283, ../sass/screen.scss */
html body .playlist .board_name {
  font-size: 30px;
  margin-bottom: 15px;
}
/* line 288, ../sass/screen.scss */
html body .playlist .inside {
  width: 100%;
  padding: 10px;
}
/* line 292, ../sass/screen.scss */
html body .playlist .inside #playlist_player {
  float: left;
  width: 200px;
  height: 95px;
  margin-right: 10px;
}
/* line 299, ../sass/screen.scss */
html body .playlist .inside .thumbnails {
  overflow-x: auto;
  margin-right: 20px;
}
/* line 303, ../sass/screen.scss */
html body .playlist .inside .thumbnails .strip {
  height: 95px;
  padding-left: 5px;
}
/* line 307, ../sass/screen.scss */
html body .playlist .inside .thumbnails .strip .smallthumb {
  height: 95px;
  display: block;
  float: left;
  width: 130px;
  margin: 0 10px 0 0;
  cursor: pointer;
  overflow: hidden;
}
/* line 317, ../sass/screen.scss */
html body .playlist .inside .thumbnails .strip .smallthumb img {
  width: 130px;
  height: auto;
}
